html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 95%;
  margin: auto; }

.body-container {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  color: #222;
  line-height: 1.5em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */ }

div.query-box input {
  font-size: 1.5em;
  width: 100%; }
div select {
  font-size: 1.5em;
  width: 100%; }

.results tr:nth-child(odd) {
  background-color: #eeeeff; }
.results td, .results th {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: top;
  font-size: 12px; }
