pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.iml
.idea/
.DS_Store
win-infra/files/
ingest/ingest.cmd
new-es/
searchguard-es/
*.exe
!winsw.exe
win-infra/artifacts/
*.db
*.db-journal

