@import "mixins";
@import "colors";
@import "contacts";
@import "header";
@import "login";
@import "recentsearches";
@import "recentupdates";
@import "resetcards";
@import "signposting";
@import "individuals";
@import "timeline";
@import "updates";

//import open sans font
@import url(//fonts.googleapis.com/css?family=Open+Sans);


body {
  .btn-primary {
    background-color: $add-criteria;
  }

  i.fa {
    cursor: pointer;
  }

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;

  font-family:Open Sans, sans-serif;
}


