div.cards{
       > p{
          padding: 8px 2px 2px 3px;
          }
}

div.select-cards{
    width:48%;
    padding:2px 2px 2px 3px;
    }

div.icon{
    display:inline-block;
    width:20%;
    margin: 11px 0 0 -6px;
    float:left;
    vertical-align:middle;
}

div.reset-cards{
  display: inline-block;
  margin:5px 5px 5px 0;
  padding: 5px 2px 5px 2px;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 2px #ccc;
  width: 45%;
  cursor:pointer;
  border-radius: 3px;
  background-color: white;
  font-size: 0.9em;
  color: #1E3545; }


div.reset-cards-text{
   font-family: "open sans", arial, sans-serif;
   font-weight: 400;
   color:#1C3645;
   display:table-cell;
   width:80%;
   float:right;
   vertical-align:middle;
   min-height:43px
}