div.person-container{
    box-shadow: 10px 10px 10px #ccc;
    margin:  10px 0px 20px 0px;
    border-top: 1px solid $base-gray;
    border-radius: 5px;
    padding-left:5px;



     &.yellow{
            border-top: 1px solid $base-yellow;
             border-left: 5px solid $base-yellow;
             background-color: $base-yellow-l;
      }


    &.orange{
       border-top: 1px solid $base-orange;
       border-left: 5px solid $base-orange;
       background-color: $base-orange-l;
    }


    &.green{
       border-top: 1px solid $base-green;
       border-left: 5px solid $base-green ;
       background-color: $base-green-l;
    }

    &.navy{
        border-top: 1px solid $base-navy;
        border-left: 5px solid $base-navy;
        background-color: $base-navy-l;
    }

    &.turquoise{
      border-top: 1px solid $base-turquoise;
      border-left: 5px solid $base-turquoise;
      background-color: $base-turquoise-l;
    }

    &.purple{
        border-top: 1px solid $base-purple;
        border-left: 5px solid $base-purple;
        background-color: $base-purple-l;
    }

     &.pink{
            border-top: 1px solid $base-pink;
            border-left: 5px solid $base-pink;
            background-color: $base-pink-l;
        }

    &.forest-green{
            border-top: 1px solid $base-forest-green;
            border-left: 5px solid $base-forest-green;
            background-color: $base-forest-green-l;
        }


    &.lighter-purple{
             border-top: 1px solid $base-lighter-purple;
             border-left: 5px solid $base-lighter-purple;
             background-color: $base-lighter-purple-l;
         }

     &.burgundy{
                border-top: 1px solid $base-burgundy;
                border-left: 5px solid $base-burgundy;
                background-color: $base-burgundy-l;
    }
}


div.person {
   padding: 20px 0px 5px 0px;
   background-color:white;

   .event-details-contact{
        border-bottom: solid 1px $base-gray;
        margin: 15px 0 10px 0;
        padding: 10px 0 10px 0;
    }

   div.events-list :last-of-type {
       border-bottom: 0;
   }

}

div.events-header {
   > h3 {
     text-align: center;
     color:  $darkest-blue;}
    > p {
     text-align: center;
     color:  $darkest-blue;
     }
}

div.toggle-data{
    text-align:center;
    color:#468cc8;

    p{
       font-size:0.9em;
       font-weight: 600;
       color:#468cc8;
    }

    i.fa{
       font-size:2em;
       color:#468cc8;
    }
}
