#results
 {position: relative;
  margin-top: 150px;
  background-color:#F0F4F7;

  .results-tab {
    background-color: #fff;
  }

  }

 #welcome-message{
    position: relative;
    margin-top: 100px;
 }