.cards > .panel > .panel-heading {

  color: #486573;
  font-size: 24px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 37px;/* Approximation due to font substitution */
  text-align: left;

  background-image: none;

  &.red {
    background-color: $base-red;
  }

  &.blue {
    background-color: $base-blue;
  }

  &.green {
    background-color: $base-green;
  }

  &.aqua {
    background-color: $base-aqua;
  }

  &.purple {
    background-color: $base-purple;
  }

  &.yellow {
    background-color: $base-yellow;
  }

}