@mixin card-color($color) {
  .panel {
    border-color: $color;
  }
  .panel-heading {
    background-color: $color;
    border-color: $color;
  }
  &.panel-default {
    border-color: $color;
  }
}

.fixed-height {
  height: 99vh;
  overflow-y: scroll;
}

.cards > .fixed-height > .panel,
.cards > .panel {

  i.fa:hover {
    opacity: 0.6;
  }

  i.fa-lock {
    color: $base-red;
  }

  i.fa-toggle-on {
    color: $base-green;
  }

  i.fa-unlock {
    filter: alpha(opacity=0.1);
  }

  color: #486573;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  line-height: 1.1;

  background-image: none;

  .panel {
    border-color: $base-default;
  }

  .panel-heading {
    background-color: $base-default;
    border-color: $base-default;
    padding: 5px 15px;
  }

  &.panel-default {
    border-color: $base-default;
  }

  &.red {
    @include card-color($base-red);
  }

  &.yellow {
    @include card-color($base-yellow);
  }

  &.green {
    @include card-color($base-green);
  }

  &.aqua {
    @include card-color($base-aqua);
  }

  &.purple {
    @include card-color($base-purple);
  }

  &.blue {
    @include card-color($base-blue);
  }

  .info-label {
    display: inline;
  }

  .info {
    color: #486573;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
  }

}