.header {
    .navbar {
        margin-bottom: 0;
    }
}

.body {
    .column {
        border-right: 1px solid #e9ecf2;
        min-height: 100%;
        height: 100%;

        .column-title {
            box-shadow: inset 0 1px #fff;
            background-color: #ebf4f9;
            background-repeat: no-repeat;
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#f6fbfd),to(#ebf4f9));
            background-image: -webkit-linear-gradient(#f6fbfd,#ebf4f9);
            background-image: linear-gradient(top,#f6fbfd,#ebf4f9);
            border-top: 1px solid #dae8ed;
            border-bottom: 1px solid #c6d3e3;
            padding: 11px 0 9px 0px;
            // font-size: 13px;
            // letter-spacing: 1px;
            color: #486574;
            // text-transform: uppercase;
            text-shadow: 0 1px 0 hsla(0,0%,100%,.75);
            margin-bottom: 15px;
            
        }

        .criteria-box {
            background: transparent;
            border-color: #c6d3e3;

            .panel-heading {
                background-color: #dae8ed;

                button {
                    margin-top: -7px;
                }
            }

            .form-control {
                margin-top: 10px;
            }

        }
    }
}

.container-criteria {
    background-color: #f3f7fa;
}

.container-results {
    background-color: #f3f7fa;
}

.container-timeline {
    background-color: white;
}

.cards > .panel > .panel-heading {

    color: black;

    &.red {
        background-image: none;
        background-color: $red-person;
    }

    &.blue {
        background-image: none;
        background-color: $blue-person;
    }

    &.green {
        background-image: none;
        background-color: $green-person;
    }

    &.aqua {
        background-image: none;
        background-color: $aqua-person;
    }

    &.purple {
        background-image: none;
        background-color: $purple-person;
    }

    &.yellow {
        background-image: none;
        background-color: $yellow-person;
    }

}