body {
  background-color: #f3f7fa;
}

.stockport {
  background: $sp-dark-green;

  img {
    width: 100%;
    margin-top: 10px;
  }

  .signposts {
    background: #f3f7fa;
  }

}

div.busy {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0.8;
  background-color: gray;

  .spinner {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.signpost {
  margin-top: 6px;
}

.logout {
  margin-top: 20px;
}

.container-criteria {

  background: $sp-dark-green;
  height: 100vh;

  .criteria-box {
    background: $sp-green;
  }

  .search-control {

    .btn {

      color: white;
      &:hover {
        color: black;
      }

      &.add-criteria,
      &.search {
        padding-top: 16px;
      }

      p {
        font-size: 1.4em;
        font-weight: 600;
      }

      &.add-criteria {
        background-color: $add-criteria;
      }

      &.remove-criteria {
        background-color: $add-criteria;
      }

      &.search {
        background-color: $search;
      }
    }
  }

}

.selected-event {
  width: 100%;
  height: 100%;
  color: #ffffff;
  overflow: auto;
  position: relative;
}

.panel-group {
  width: 100%;
  margin-bottom: 0px;
}

.event-details {
  float: left;
  border-radius: 5px;
  height: 100%;
  background-color: #1c3645;
  .panel-heading {
    background-color: #1c3645;
    color: white;
    border-bottom: 1px solid #c6d3e3;
  }
}

.contact-panel {
  float: right;
  border-radius: 5px;
  background-color: #71c573;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  .panel-heading {
    background-color: #71c573;
    color: white;
    border-bottom: 1px solid #c6d3e3;
  }
}

.container-results {
  background-color: #f3f7fa;
  height: 100vh;
}

.container-timeline {
  background-color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(28, 54, 69, 0.1);
}

.fa.fa-map-signs {
  color: #486573;
  font-size: 36px; /* Approximation due to font substitution */
  font-weight: 400;
  text-align: left;
}

.title {
  color: #486573;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-align: left;
}

.results-title {
  color: #476575;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-align: left;
}

.contact-label {
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}

.results-confirmation {
  color: #476575;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: 37px;
  text-align: left;
}

.selected-event {
  height: 100%;
  .panel-group {
    height: 100%;
  }
}

