div.login {
 background-color: #1C3645;
 width:100%;
 height:100%;
 position: fixed;
}

div.login-form-container{
   margin-top:50px;
   margin-left:auto;
   margin-right:auto;
   width:75%
   }

div.login-form{
 background-color: white;
 z-index:90;
 width:600px;
 height:400px;
 margin:auto;
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 border-radius:2px;
 box-shadow: 5px 10px 15px;
 padding: 30px 20px 40px 20px;

  > h4 {
     text-align:center;
     color:$darkest-blue;
     line-height:1.75em;
 }

 &.input-group-addon {
     background-color: white;
     color:$darkest-blue;
     border-right:none;
    }

 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #aaa;
      font-size:0.9em;
 }

 input::-moz-placeholder { /* Firefox 19+ */
   color: #aaa;
   font-size:0.9em;
 }

 input:-ms-input-placeholder { /* IE 10+ */
   color: #aaa;
   font-size:0.9em;
 }

 button.btn-primary {
     background-color: $bright-blue;

  }
}