.search-criteria-control{
   background-color: #fff;
   box-shadow: 0px 10px 15px #ccc;
   border-bottom:  1px solid #ccc;
   z-index: 1000;
   position: fixed;
   width: 100%;
   height: 55px;
   top: 50px;
}

.search-bar{
    background-color: #fff;
    box-shadow: 0px 10px 15px $base-gray;
    border-bottom: 1px solid $base-gray;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 55px;
    top: 50px;

    i.fa.fa-plus-circle {
       color: $bright-blue;
       font-size: 1.5em;
       margin-left: 10px;
    }



    input.form-control{
      margin-left:10px;

      &:focus{
        border:none;
      }
    }
}


i.fa.fa-times.delete-item{
   display:inline-block;
   font-size:1.2em;
   &:hover{
    color:red;
   }
}

 button.search{
         background-color: $bright-blue !important;
         font-weight: 600;
         font-size: 18px;
         font-family: "Source Sans Pro";
         margin-left: 10px !important;
     }

input.form-control::-moz-placeholder {
 color : $mid-grey;
 opacity: 1;
 padding-left:0;
 font-size: 1em;
 margin-left:0;
}

input.form-control::-webkit-input-placeholder {
 color : $mid-grey;
 opacity: 1;
 padding-left:0;
 font-size: 1em;
 margin-left:0;
}

input.form-control::-ms-input-placeholder {
 color: $mid-grey;
 opacity: 1;
 padding-left:0;
 font-size: 1em;
 margin-left:0;
}

div.search-item{
    border: solid 1px #AAA;
    border-radius: 5px;
    margin-left: 10px;
    padding:2px 1px 0px 8px;
    height:36px;
    display:inline-block;

     &:hover{
        border-color:#2196f3;
     }
     .item-container
     {
     > label{
       display: inline-block;
       margin-left: 0;
       font-size: 11px;
       text-transform: uppercase;
       color: $base-gray;
       line-height:1.1;

       > input {
              display: inline-block;
              font-size: 16px;
              border: none !important;
              line-height:1;
              width: 90%;
              overflow: hidden;
              font-weight:400;

              &:focus {
                 border: none !important;
              }
    }


    }
    }

    .item-container
    {
       display:table-cell;
       width:80%
    }

    .delete-item-container
    {
        height:34px;
        display:table-cell;
        text-align:left;
        border-left:solid #ccc 1px;
        vertical-align:middle;
        width:15%;
    }


}

.add-search-item{
          color: $mid-grey;
          font-size: 1.5em;
          margin-left: 10px;

     &.active {
        color: #2A98EF;
     }
}

.search-event-item > label{
    width: 100%;
}

select.custom-select{
     margin-left: 20px;
     border-radius:5px;
     border:1px solid $base-gray;

     .option {
        padding: 0px 20px 0px 20px;
        font-size: 0.9em;

        :first-child{
            color:$base-gray;
            text-transfrom: capitalize;
        }
     }
    }

