div.busy {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0.8;
  background-color: gray;

  .spinner {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.selected-event {
  width: 100%;
  height: 100%;
  color: #ffffff;
  overflow: auto;
  position: relative;
}

.event-details {
  float: left;
  border-radius: 5px;
  height: 100%;
  background-color: #1c3645;
  .panel-heading {
    background-color: #1c3645;
    color: white;
    border-bottom: 1px solid #c6d3e3;
  }
}

.contact-panel {
  float: right;
  border-radius: 5px;
  background-color: #71c573;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  .panel-heading {
    background-color: #71c573;
    color: white;
    border-bottom: 1px solid #c6d3e3;
  }
}