div.highlight-control {
  margin-left: 22px;
  margin-top: 14px;

  i {
    margin-top: -4px;
  }

  &.disabled {
    filter: opacity(.2);
  }

}

.flot-timeline-container {

  position: relative;

  .graph-controls {
    position: absolute;
    left: 30px;
    top: 40px;
    z-index: 1;

    i {
      margin: 0px 10px;

      &.disabled {
        filter: opacity(0.2);
      }

      &:hover:not(.disabled) {
        color: green;
      }

    }

  }

}