.graph {

  div.flot-timeline {
    width: 100%;
    height: 400px;
  }

  div.highlight-control {

    margin-left: 22px;
    z-index: 10;

    i {

      &.disabled {
        filter: opacity(0.2);
      }

      &:hover:not(.disabled) {
        opacity: 0.6;
        cursor: pointer;
        color: green;
      }

    }

    &.disabled {
      filter: opacity(.2);
    }

  }

  .flot-timeline-container {

    position: relative;

    .graph-controls {

      @include disable-selection;

      position: absolute;
      left: 30px;
      top: 40px;
      z-index: 1;

      i {
        margin: 0px 10px;

        &.disabled {
          filter: opacity(0.2);
        }

        &:hover:not(.disabled) {
          opacity: 0.6;
          cursor: pointer;
          color: green;
        }

      }

    }

  }

}